<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8esV-KMquhoJDDzYdAe1gtwBC0Qxee0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>65621846143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcooldev.udemyCourse</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-8f24e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-8f24e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65621846143:ios:6f4de77fd0d9fb98d9b74a</string>
</dict>
</plist>